.container {
    border-color: white;
    border-width: 20px;
    background-color: white;
}

#title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.col-sm-4 {
    text-align: center;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
}

#sbdForm {
    text-align: center;
}

body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

div {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-spacing: 15px;
}

#mainPara {
    text-align: left;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: green;
}

.list-group {
    margin-left: 400px;
    margin-right: 400px;
}